.logos {
    margin-top: 15px !important;
    width: 90% !important;
    height: 90% !important;
}
.absolute-e {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F36C2D;
}
.dream{
    font-size: 25px !important;
    font-weight: bold !important;
}

.title-login{
    font-size: 30px;
    font-weight: bold;
    color: #F36C2D;
}

h3{
    color: #000 !important;
}

@media (max-width: 600px) {
    .logo-border {
        background: #FFFFFF !important;
        align-items: center;
        justify-content: center;
        width: 140px !important;
        height: 140px !important;
        max-width: 100% !important;
    }

    .logos {
        margin-top: 15px !important;
        width: 100% !important;
        height: 100% !important;
    }

    .logo-border img {
        width: 120px !important;
        height: 120px !important;
        margin: 10px 11px 12px 8px !important;
    }
}
