<template>
    <div class="card">
        <div class="card-header bg-espumados text-uppercase">
            <div class="row">
                <div class="col-md-9">
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb m-0 p-0" style="border: none !important;">
                            <li class="breadcrumb-item">
                                <a class="text-gray-500">
                                    Administración
                                </a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a href="/v/employees">
                                    Usuarios
                                </a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-info float-right"
                            @click="acronyms()">
                        <i class="fas fa-info-circle pr-3"></i>
                        <b>ACRÓNIMOS</b>
                    </button>
                </div>
            </div>
        </div>
        <div class="pl-4 pr-4 pt-4">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <!-- Button trigger modal -->
                    <button @click="update = false; resetFormUser();" type="button"
                            data-toggle="modal"
                            data-target="#CreateUserIndividualModal"
                            data-backdrop="static"
                            class="btn btn-primary text-uppercase btn-new mb-2">
                        <i class="fas fa-plus-circle"></i> <b>Nuevo usuario</b>
                    </button>
                    <!-- End button trigger modal -->


                    <!-- Modal create or update-->
                    <div class="modal fade-scale" id="CreateUserIndividualModal" tabindex="-1"
                         role="dialog"
                         aria-labelledby="CreateUserIndividualModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <h5 class="modal-title bg-espumados">
                                            {{ update ? 'Actualizar' : 'Nuevo' }} Usuario
                                        </h5>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="btn-group float-right">
                                            <button class="btn btn-info"
                                                    @click="acronyms">
                                                <i class="fas fa-info-circle pr-3"></i>
                                                <b>ACRÓNIMOS</b>
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true"><b>&times;</b></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body bv-modal">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <ValidationProvider name="code" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h4 class="text-uppercase">
                                                            <b>
                                                                CÉD <span class="text-danger">( * )</span>
                                                            </b>
                                                        </h4>
                                                        <input v-model="FormUser.personal_id" type="number" name="code"
                                                               class="form-control" min="0"
                                                               placeholder="Cédula del colaborador" autofocus required>
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <ValidationProvider name="name" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h4 class="text-uppercase">
                                                            <b>
                                                                NOM <span class="text-danger">( * )</span>
                                                            </b>
                                                        </h4>
                                                        <input v-model="FormUser.name" type="text" name="name"
                                                               class="form-control"
                                                               placeholder="Nombre del colaborador" autofocus required>
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <ValidationProvider name="name" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h4 class="text-uppercase">
                                                            <b>
                                                                COR <span class="text-danger">( * )</span>
                                                            </b>
                                                        </h4>
                                                        <input v-model="FormUser.email" type="text" name="email"
                                                               class="form-control"
                                                               placeholder="Correo del colaborador" autofocus required>
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger"
                                            data-dismiss="modal">
                                        Cancelar
                                    </button>
                                    <button @click="createOrUpdate();" type="button" class="btn btn-success"
                                            data-dismiss="modal">
                                        {{ update ? 'Actualizar' : 'Guardar' }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End modal -->

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 w-100">
                    <div class="form-group">
                        <input type="search"
                               v-model="searchInput"
                               id="search"
                               class="form-control"
                               @change="changeType"
                               placeholder="Escribe palabras clave...">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="employees-table" class="table table-bordered table-sm table-striped table-condensed">
                    <thead class="headerStatic">
                    <tr class="bg-orange">
                        <th class="tt-espumados">CÉD</th>
                        <th class="tt-espumados">NOM</th>
                        <th class="tt-espumados">COR</th>
                        <th class="tt-espumados">OPC</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in list" :key="index">
                        <td class="text-center">{{ item.personal_id ? item.personal_id : '-o-' }}</td>
                        <td>{{ item.name ? item.name : '-o-' }}</td>
                        <td>{{ item.email ? item.email : '-o-' }}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <span @click="update = true; writeData(item);"
                                      v-if="item.name !== 'Admin'"
                                      data-toggle="modal"
                                      data-target="#CreateUserIndividualModal"
                                      data-backdrop="static"
                                      class="text-warning pr-1 cursor-pointer">
                                    <i class="fas fa-edit fa-2x"></i>
                                </span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <infinite-loading
                    @distance="1"
                    :identifier="infiniteId"
                    @infinite="infiniteHandler"
                    spinner="waveDots"
                    ref="infiniteHandler">
                    <div slot="no-more">
                        No hay más usuarios
                    </div>
                    <div slot="no-results">
                        No hay usuarios
                    </div>
                </infinite-loading>
            </div>
        </div>
    </div>
</template>

<script>

import InfiniteLoading from "vue-infinite-loading"; // Componente para hacer un scroll infitito el cual solo me hace una consulta inicial de 10 registros esto se complementa con el controlador y un simplePaginate

export default {
    components: {
        InfiniteLoading,
    },
    name: "Employees",
    data() {
        return {
            FormUser: {
                personal_id: '',
                name: '',
                email: '',
            },
            id: '',
            update: true,
            page: 1,
            list: [],
            infiniteId: +new Date(),
            searchInput: '',
            setTimeoutSearch: '',
        }
    },
    props: {
        usersAssignData: {
            type: Array,
            default: () => [],
        },
    },
    methods: {
        infiniteHandler($state) {
            let api = "/udp/administration/users/getUsers";
            axios.get(api, {params: {page: this.page, search: this.searchInput}}).then(({data}) => {
                if (data.users.data.length > 0) {
                    this.page += 1;
                    this.list.push(...data.users.data);
                    $state.loaded();
                } else $state.complete();
            }).catch(error => (error.response ? this.response(error) : ""));
        },
        changeType() {
            this.page = 1;
            this.list = [];
            this.infiniteId += 1;
        },
        createOrUpdate() {
            let url = this.update ? '/udp/administration/users/' + this.id + '/update' : '/udp/administration/users/store';
            axios.post(url, this.FormUser).then(response => {
                this.alerts(response.data); // Es un método personalizado para mostrar una alerta con un SweetAlert
                if (!response.data.new) this.list.splice(this.list.findIndex(element => (element.id == response.data.user.id)), 1);
                this.list.unshift(response.data.user); // unshift sirve para agregar el elemento al array al inicio, push lo agrega al final
            }).catch(error => {
                if (error.response) this.response(error);
            });
        },
        resetFormUser() {
            this.$data["FormUser"] = this.$options.data.call(this) ["FormUser"];
        },
        async writeData(data = {}) { // Debo analizar según lo nuevo que voy a implementar PENDIENTE
            if (this.update) { // Escritura de data cuando copio
                this.id = data.id;
                this.FormUser.personal_id = data.personal_id;
                this.FormUser.name = data.name;
                this.FormUser.email = data.email;
            }
        },
        response(error) {
            let errors = [], msg = [];
            errors.push(error.response.data.errors);
            errors.map(function (index) {
                for (let indexKey in index) {
                    if (indexKey === 'personal_id') msg.push(`<li>La cédula del/la colaborador/a es requerido/a</li>`);
                    if (indexKey === 'name') msg.push(`<li>El nombre es requerido</li>`);
                    if (indexKey === 'email') msg.push(`<li>El correo es requerido o no tiene el formato correcto</li>`);
                }
            });
            if (error.response.status === 422) {
                this.$swal({
                    icon: 'error',
                    title: 'Por favor valide los campos',
                    html: `<ul class="text-left text-danger">${msg.join("")}</ul>`,
                    showConfirmButton: false,
                });
            }
            if (error.response.status === 500) {
                this.$swal({
                    icon: error.response.data.icon,
                    title: 'Oops!',
                    html: '<p>Ocurrio un error con el servidor...</p>' +
                        '<p class="text-justify">Por favor espere mientras trabajamos para brindarle una pronta solución, ' +
                        'si el error persiste pongase en contacto con el área de sistemas.' + '</p>' +
                        '<p class="text-justify"><b class="text-danger">Error:</b> ' + error.response.data.msg + '</p>',
                    showConfirmButton: false,
                });
            }
        },
        alerts(response) {
            this.$swal({
                icon: response.icon,
                title: response.msg,
                showConfirmButton: false,
                timer: 1000
            });
        },
        acronyms() {
            this.$swal({
                icon: 'info',
                title: 'Acrónimos',
                html: '<ul class="text-left">' +
                    '<li><b>CÉD</b> = Cédula</li>' +
                    '<li><b>NOM</b> = Nombre</li>' +
                    '<li><b>COR</b> = Correo elctrónico</li>' +
                    '<li><b>OPC</b> = Opciones</li>' +
                    '</ul>',
                showConfirmButton: true,
            });
        },
    },
}
</script>

<style scoped>

</style>
