<template>
    <div class="card">
        <div class="card-header bg-espumados text-uppercase">
            <div class="row">
                <div class="col-md-9">
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb m-0 p-0" style="border: none !important;">
                            <li class="breadcrumb-item">
                                <a class="text-gray-500">
                                    Administración
                                </a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a href="/v/request">
                                    Solicitudes
                                </a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-info float-right"
                            @click="acronyms()">
                        <i class="fas fa-info-circle pr-3"></i>
                        <b>ACRÓNIMOS</b>
                    </button>
                </div>
            </div>
        </div>
        <div class="pl-4 pr-4 pt-4">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <!-- Button trigger modal -->
                    <button @click="update = false; detail = false; resetFormRequest();"
                            type="button"
                            data-toggle="modal"
                            data-target="#CreateUserIndividualModal"
                            data-backdrop="static"
                            class="btn btn-primary text-uppercase btn-new mb-2">
                        <i class="fas fa-plus-circle"></i> <b>Nueva solicitud</b>
                    </button>
                    <!-- End button trigger modal -->


                    <!-- Modal create or update-->
                    <div class="modal fade-scale" id="CreateUserIndividualModal" tabindex="-1"
                         role="dialog"
                         aria-labelledby="CreateUserIndividualModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title bg-espumados">
                                        {{ (detail ? 'Detalle de la' : update ? 'Actualizar' : 'Nueva') }} Solicitud
                                    </h5>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true"><b>&times;</b></span>
                                    </button>
                                </div>
                                <div class="modal-body bv-modal">
                                    <div v-if="!update && !detail" class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <h5><b>¿Qué documento vas a cancelar?</b> <span class="text-danger">( * )</span>
                                                </h5>
                                                <v-select
                                                    :options="documents"
                                                    v-model="FormRequest.document"
                                                    placeholder="Buscar tipos de documentos...">
                                                </v-select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Nombre</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="text"
                                                               v-model="FormRequest.name"
                                                               class="form-control"
                                                               placeholder="Nombre del solcitante">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <h4 class="text-uppercase">
                                                <b>
                                                    Datos de documento a cancelar <span class="text-danger">( * )</span>
                                                </b>
                                            </h4>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Inscrito</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="text"
                                                               v-model="FormRequest.r_to_c"
                                                               class="form-control"
                                                               placeholder="Número de inscrito a cancelar">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Serial</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="number"
                                                               v-model="FormRequest.s_to_c"
                                                               class="form-control"
                                                               placeholder="Serial a cancelar">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Oficina</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="text"
                                                               v-model="FormRequest.o_to_c"
                                                               class="form-control"
                                                               placeholder="Oficina de registro">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Fecha</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="date"
                                                               v-model="FormRequest.f_to_c"
                                                               class="form-control"
                                                               placeholder="Fecha de inscripción">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                                            <h4 class="text-uppercase">
                                                <b>
                                                    Datos de documento a actualizar <span
                                                    class="text-danger">( * )</span>
                                                </b>
                                            </h4>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Inscrito</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="text"
                                                               v-model="FormRequest.r_to_u"
                                                               class="form-control"
                                                               placeholder="Número de inscrito a actualizar">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Serial</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="number"
                                                               v-model="FormRequest.s_to_u"
                                                               class="form-control"
                                                               placeholder="Serial a actualizar">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Oficina</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="text"
                                                               v-model="FormRequest.o_to_u"
                                                               class="form-control"
                                                               placeholder="Oficina de registro">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Fecha</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="date"
                                                               v-model="FormRequest.f_to_u"
                                                               class="form-control"
                                                               placeholder="Fecha de inscripción">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                    </div>
                                    <div v-if="update && !detail" class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <h5><b>¿Qué documento vas a cancelar?</b> <span class="text-danger">( * )</span>
                                                </h5>
                                                <v-select
                                                    :options="documents"
                                                    v-model="FormRequest.document"
                                                    placeholder="Buscar tipos de documentos...">
                                                </v-select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Nombre</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="text"
                                                               v-model="FormRequest.name"
                                                               class="form-control"
                                                               placeholder="Nombre del solcitante">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <h4 class="text-uppercase">
                                                <b>
                                                    Datos de documento a cancelar <span class="text-danger">( * )</span>
                                                </b>
                                            </h4>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Inscrito</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="text"
                                                               v-model="FormRequest.r_to_c"
                                                               class="form-control"
                                                               placeholder="Número de inscrito a cancelar">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Serial</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="number"
                                                               v-model="FormRequest.s_to_c"
                                                               class="form-control"
                                                               placeholder="Serial a cancelar">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Oficina</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="text"
                                                               v-model="FormRequest.o_to_c"
                                                               class="form-control"
                                                               placeholder="Oficina de registro">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Fecha</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="date"
                                                               v-model="FormRequest.f_to_c"
                                                               class="form-control"
                                                               placeholder="Fecha de inscripción">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                                            <h4 class="text-uppercase">
                                                <b>
                                                    Datos de documento a actualizar <span
                                                    class="text-danger">( * )</span>
                                                </b>
                                            </h4>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Inscrito</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="text"
                                                               v-model="FormRequest.r_to_u"
                                                               class="form-control"
                                                               placeholder="Número de inscrito a actualizar">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Serial</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="number"
                                                               v-model="FormRequest.s_to_u"
                                                               class="form-control"
                                                               placeholder="Serial a actualizar">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Oficina</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="text"
                                                               v-model="FormRequest.o_to_u"
                                                               class="form-control"
                                                               placeholder="Oficina de registro">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>Fecha</b> <span class="text-danger">( * )</span></h5>
                                                        <input type="date"
                                                               v-model="FormRequest.f_to_u"
                                                               class="form-control"
                                                               placeholder="Fecha de inscripción">
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <!--         EL QUE REVISA Y EL QUE APRUEBA        -->
                                        <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                                            <h4 class="text-uppercase"><b>Quienes revisan y aprueban</b></h4>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>¿Quien revisó?</b> <span class="text-danger">( * )</span>
                                                        </h5>
                                                        <v-select
                                                            :options="user_check"
                                                            v-model="FormRequest.check"
                                                            placeholder="Buscar usuarios...">
                                                        </v-select>
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <ValidationProvider name="r_to_c" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <h5><b>¿Quien aprueba/rechaza?</b> <span class="text-danger">( * )</span>
                                                        </h5>
                                                        <v-select
                                                            :options="user_pass"
                                                            v-model="FormRequest.pass"
                                                            placeholder="Buscar usuarios...">
                                                        </v-select>
                                                    </div>
                                                    <p class="text-danger mb-3">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <ValidationProvider name="status" rules="required">
                                                <div slot-scope="{ errors }">
                                                    <div class="form-group">
                                                        <label>
                                                            <h5>
                                                                <b>
                                                                    Estado de la solicitud <span
                                                                    class="text-danger">( * )</span>
                                                                </b>
                                                            </h5>
                                                        </label>
                                                        <br>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input"
                                                                   type="radio"
                                                                   name="inlineRadioOptions"
                                                                   id="inlineRadio1"
                                                                   v-model="FormRequest.status"
                                                                   value="in_review">
                                                            <label class="form-check-label"
                                                                   for="inlineRadio1"><h5 class="mb-0">EN REVISIÓN</h5>
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input"
                                                                   type="radio"
                                                                   name="inlineRadioOptions"
                                                                   id="inlineRadio2"
                                                                   v-model="FormRequest.status"
                                                                   value="approved">
                                                            <label class="form-check-label"
                                                                   for="inlineRadio2"><h5 class="mb-0">APROBADA</h5>
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input"
                                                                   type="radio"
                                                                   name="inlineRadioOptions"
                                                                   id="inlineRadio3"
                                                                   v-model="FormRequest.status"
                                                                   value="rejected">
                                                            <label class="form-check-label"
                                                                   for="inlineRadio3"><h5 class="mb-0">RECHAZADA</h5>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <p class="text-danger">
                                                        <b>{{ errors[0] }}</b>
                                                    </p>
                                                </div>
                                            </ValidationProvider>
                                        </div>
                                    </div>
                                    <div v-if="!update && detail" class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <h5><b>Documento a cancelar</b></h5>
                                                <h5>{{ RequestSelected.document_label }}</h5>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <h5><b>Nombre</b></h5>
                                            <h5>{{ RequestSelected.name }}</h5>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <h4 class="text-uppercase">
                                                <b>
                                                    Datos de documento a cancelar <span class="text-danger">( * )</span>
                                                </b>
                                            </h4>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <h5><b>Inscrito</b></h5>
                                            <h5>{{ RequestSelected.r_to_c }}</h5>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <h5><b>Serial</b></h5>
                                            <h5>{{ RequestSelected.s_to_c }}</h5>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <h5><b>Oficina</b></h5>
                                            <h5>{{ RequestSelected.o_to_c }}</h5>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <h5><b>Fecha</b></h5>
                                            <h5>{{ RequestSelected.f_to_c }}</h5>
                                        </div>
                                        <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                                            <h4 class="text-uppercase">
                                                <b>
                                                    Datos de documento a actualizar <span
                                                    class="text-danger">( * )</span>
                                                </b>
                                            </h4>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <h5><b>Inscrito</b></h5>
                                            <h5>{{ RequestSelected.r_to_u }}</h5>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <h5><b>Serial</b></h5>
                                            <h5>{{ RequestSelected.s_to_u }}</h5>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <h5><b>Oficina</b></h5>
                                            <h5>{{ RequestSelected.o_to_u }}</h5>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <h5><b>Fecha</b></h5>
                                            <h5>{{ RequestSelected.f_to_u }}</h5>
                                        </div>
                                        <!--         EL QUE REVISA Y EL QUE APRUEBA        -->
                                        <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                                            <h4 class="text-uppercase"><b>Quienes revisan y aprueban</b></h4>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <h5><b>¿Quien revisó?</b></h5>
                                            <h5>{{
                                                    (RequestSelected.check_label !== null) ? RequestSelected.check_label : 'Nadie ha revisado aún'
                                                }}</h5>

                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <h5><b>¿Quien aprobó/rechazó?</b></h5>
                                            <h5>{{
                                                    (RequestSelected.pass_label !== null) ? RequestSelected.pass_label : 'Nadie ha aprobado o rechazado aún'
                                                }}</h5>

                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <h5><b>Estado de la solicitud</b></h5>
                                            <h5 v-html="RequestSelected.StatusLabel"></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger"
                                            data-dismiss="modal">
                                        Cancelar
                                    </button>
                                    <button v-if="!detail" @click="createOrUpdate"
                                            type="button" class="btn btn-success"
                                            data-dismiss="modal">
                                        {{ update ? 'Actualizar' : 'Guardar' }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End modal -->

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 w-100">
                    <div class="form-group">
                        <input type="search"
                               v-model="searchInput"
                               id="search"
                               class="form-control"
                               @change="changeType"
                               placeholder="Escribe palabras clave...">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="employees-table" class="table table-bordered table-sm table-striped table-condensed">
                    <thead class="headerStatic">
                    <tr class="bg-orange">
                        <th class="tt-espumados">RAD</th>
                        <th class="tt-espumados">DOC</th>
                        <th class="tt-espumados">NSO</th>
                        <th class="tt-espumados">DET</th>
                        <th class="tt-espumados">EST</th>
                        <th class="tt-espumados">OPC</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in list" :key="index">
                        <td class="text-center text-uppercase">{{ item.id }}</td>
                        <td class="text-center text-uppercase">{{ item.document_label }}</td>
                        <td class="text-center text-uppercase">{{ item.name }}</td>
                        <td class="text-center">
                           <span @click="update = false; detail = true; RequestSelected = item;"
                                 title="Detalle de la solicitud"
                                 data-toggle="modal"
                                 data-target="#CreateUserIndividualModal"
                                 data-backdrop="static"
                                 class="text-info cursor-pointer">
                               <i class="fas fa-comment-alt fa-2x"></i>
                           </span>
                        </td>
                        <td class="text-center" v-html="item.StatusLabel"></td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <span @click="update = true; detail = false; writeData(item);"
                                      title="Editar solicitud"
                                      data-toggle="modal"
                                      data-target="#CreateUserIndividualModal"
                                      data-backdrop="static"
                                      class="text-warning pr-1 cursor-pointer">
                                    <i class="fas fa-edit fa-2x"></i>
                                </span>
                                <a target="_blank"
                                   :href="'/udp/administration/request/generatePDF/' + item.id"
                                   @click="update = false; detail = false;"
                                   title="Generador de PDF"
                                   class="text-danger pr-1 cursor-pointer">
                                    <i class="fas fa-file-pdf fa-2x"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <infinite-loading
                    @distance="1"
                    :identifier="infiniteId"
                    @infinite="infiniteHandler"
                    spinner="waveDots"
                    ref="infiniteHandler">
                    <div slot="no-more">
                        No hay más solicitudes
                    </div>
                    <div slot="no-results">
                        No hay solicitudes
                    </div>
                </infinite-loading>
            </div>
        </div>
    </div>
</template>

<script>
import InfiniteLoading from "vue-infinite-loading"; // Componente para hacer un scroll infitito el cual solo me hace una consulta inicial de 10 registros esto se complementa con el controlador y un simplePaginate

export default {
    components: {
        InfiniteLoading,
    },
    name: "RequestUsers",
    data() {
        return {
            FormRequest: {
                // El documento del solicitante
                document: '',
                // El nombre del solicitante
                name: '',
                // Los de cancelar
                r_to_c: '',
                s_to_c: '',
                o_to_c: '',
                f_to_c: '',
                // Los de actualizar
                r_to_u: '',
                s_to_u: '',
                o_to_u: '',
                f_to_u: '',
                status: 'in_review',
                check: '',
                pass: '',
            },
            id: '',
            update: true,
            detail: false,
            page: 1,
            list: [],
            infiniteId: +new Date(),
            searchInput: '',
            setTimeoutSearch: '',
            documents: [],
            user_check: [],
            user_pass: [],
            RequestSelected: [],
        }
    },
    methods: {
        infiniteHandler($state) {
            let api = "/udp/administration/request/getRequest";
            axios.get(api, {params: {page: this.page, search: this.searchInput}}).then(({data}) => {
                if (data.RequestUsers.data.length > 0) {
                    this.page += 1;
                    this.list.push(...data.RequestUsers.data);
                    $state.loaded();
                } else $state.complete();
            }).catch(error => (error.response ? this.response(error) : ""));
        },
        changeType() {
            this.page = 1;
            this.list = [];
            this.infiniteId += 1;
        },
        createOrUpdate() {
            let url = this.update ? '/udp/administration/request/' + this.id + '/update' : '/udp/administration/request/store';
            axios.post(url, this.FormRequest)
                .then(response => {
                    this.alerts(response.data); // Es un método personalizado para mostrar una alerta con un SweetAlert
                    if (!response.data.new) this.list.splice(this.list.findIndex(element => (element.id === response.data.requestUser.id)), 1);
                    this.list.unshift(response.data.requestUser); // unshift sirve para agregar el elemento al array al inicio, push lo agrega al final
                })
                .catch(error => {
                    if (error.response) this.response(error);
                });
        },
        resetFormRequest() {
            this.$data["FormRequest"] = this.$options.data.call(this) ["FormRequest"];
        },
        async writeData(data = {}) { // Debo analizar según lo nuevo que voy a implementar PENDIENTE
            if (this.update) { // Escritura de data cuando copio
                this.id = data.id;
                this.FormRequest.name = data.name;
                this.FormRequest.document = {code: data.document_code, label: data.document_label};
                this.FormRequest.r_to_c = data.r_to_c;
                this.FormRequest.s_to_c = data.s_to_c;
                this.FormRequest.o_to_c = data.o_to_c;
                this.FormRequest.f_to_c = data.f_to_c;
                this.FormRequest.r_to_u = data.r_to_u;
                this.FormRequest.s_to_u = data.s_to_u;
                this.FormRequest.o_to_u = data.o_to_u;
                this.FormRequest.f_to_u = data.f_to_u;
                this.FormRequest.status = data.status;
                if (data.check_code !== null && data.check_label !== null)
                    this.FormRequest.check = {code: data.check_code, label: data.check_label};
                if (data.pass_code !== null && data.pass_label !== null)
                    this.FormRequest.pass = {code: data.pass_code, label: data.pass_label};

            }
        },
        response(error) {
            if (error.response.status === 500) {
                this.$swal({
                    icon: error.response.data.icon,
                    title: 'Oops!',
                    html: '<p>Ocurrio un error con el servidor...</p>' +
                        '<p class="text-justify">Por favor espere mientras trabajamos para brindarle una pronta solución, ' +
                        'si el error persiste pongase en contacto con el área de sistemas.' + '</p>' +
                        '<p class="text-justify"><b class="text-danger">Error:</b> ' + error.response.data.msg + '</p>',
                    showConfirmButton: false,
                });
            }
        },
        alerts(response) {
            this.$swal({
                icon: response.icon,
                title: response.msg,
                showConfirmButton: false,
                timer: 1000
            });
        },
        acronyms() {
            this.$swal({
                icon: 'info',
                title: 'Acrónimos',
                html: '<ul class="text-left">' +
                    '<li><b>RAD</b> = Radicado de la solicitud</li>' +
                    '<li><b>DOC</b> = Documento de solictud</li>' +
                    '<li><b>NSO</b> = Nombre del solicitante</li>' +
                    '<li><b>DET</b> = Detalle de la solicitud</li>' +
                    '<li><b>OPC</b> = Opciones</li>' +
                    '</ul>',
                showConfirmButton: true,
            });
        },
        SetDocuments() {
            this.documents = [
                {code: 'REG', label: 'Registro civil de nacimiento'},
                {code: 'TAR', label: 'Registro de tarjeta de identidad'},
                {code: 'CED', label: 'Registro de cédula'},
            ]
        },
        SetUsers() {
            axios.get('/udp/administration/users/getUsersList').then(res => this.user_check = res.data);
            axios.get('/udp/administration/users/getUsersList').then(res => this.user_pass = res.data);
        }
    },
    created() {
        this.SetDocuments();
        this.SetUsers();
    },
}
</script>

<style scoped>

</style>
