<template>
    <div class="small">
        <bar-chart :chartData="ChartsParent" :height="70" :options="options"></bar-chart>
    </div>
</template>

<script>

import BarChart from './BarChart.vue'

function number_format(amount, decimals = 0) {
    amount += ''; // por si pasan un numero en vez de un string
    amount = parseFloat(amount.replace(/[^0-9\.]/g, '')); // elimino cualquier cosa que no sea numero o punto
    decimals = decimals || 0; // por si la variable no fue fue pasada
    // si no es un numero o es igual a cero retorno el mismo cero
    if (isNaN(amount) || amount === 0)
        return parseFloat(0).toFixed(decimals);
    // si es mayor o menor que cero retorno el valor formateado como numero
    amount = '' + amount.toFixed(decimals);
    var amount_parts = amount.split('.'),
        regexp = /(\d+)(\d{3})/;
    while (regexp.test(amount_parts[0]))
        amount_parts[0] = amount_parts[0].replace(regexp, '$1' + ',' + '$2');
    return amount_parts.join('.');
}

export default {
    components: {
        BarChart,
    },
    props: {
        ChartsParent: {},
    },
    name: "Graphics",
    data() {
        return {
            chartData: null,
            valueData: [],
            labelData: [],
            labels: [],
            values: [],
            test: [],
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            callback: function (value, index, values) {
                                return number_format(value);
                            }
                        },
                        gridLines: {
                            display: false
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            display: true
                        },
                    }]
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            let datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ':' + number_format(tooltipItem.yLabel, 0);
                        }
                    }
                },
                plugins: {
                    legend: false
                }
            },
        }
    },
}
</script>

<style lang="css">
.small {
    width: 100%;
    /* max-height: 500px; */
    margin: 50px auto;
}
</style>
