<template>
    <div class="card">
        <div class="card-header bg-espumados text-uppercase">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb m-0 p-0" style="border: none !important;">
                            <li class="breadcrumb-item">
                                <a class="text-gray-500">
                                    Tablero de control
                                </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="card-body">

        </div>
    </div>
</template>

<script>

export default {
    name: "home",
}
</script>

<style scoped>

</style>
